rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow public read access (viewing trees)
    match /trees/{treeId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /members/{memberId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    
    // Users Profile
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}